/* *{border: 0.1px solid red;}*/
body {
    background: beige;
    font-family: arial;
}

h1{
    color:rgb(223, 66, 66);
    text-align:center;
    font-size: 50px;
}
h2, h3{
    color:rgb(93, 4, 171);
}
h1.title{
    color:white;
}
.title{
    text-transform: uppercase;
}
#website-title {
    background-color: #938619;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

table {
    border: 10px solid black;
    text-align: center;
    margin: 20px auto;
}
th, td{
    border: 3px solid black;
    font-family: Arial, sans-serif;
    text-align: center;
}

nav ul {
    background-color: beige;
    display: table;
	width: 100%;
}
nav li {
    display: table-cell
}
li a {
	display:block;
	color: black;
    text-align: center;
    font-size: 20px;
	padding: 10px;
	text-decoration:none;
}


.content{
    display:flex;
    padding-left: 100px;
}
.content p{
    color: black(55, 0, 255);
    text-align:left;
}

#about, #courses, #data-structures, #projects, #java-script-practice {
    text-align: center;
    padding-bottom: 80px;
    border-bottom: 3px solid gray;
}


#contact{
    background-color:#362196;
    color:white;
    text-align: left;
}

a{
    color: rgb(255, 0, 4);
    text-decoration:none;
}
a:hover{
    color: rgb(0, 113, 128);
}

ol, ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
  }