 /*{border: 0.1px solid red;}*/
body {
    background: beige;
    font-family: "Patrick Hand";
}

h1{
    color:rgb(227, 19, 19);
    -webkit-text-stroke: 1px rgb(6, 6, 6);
    text-align:center;
    font-size: 50px;
}
h2, h3{
    color:rgb(4, 171, 43);
}
h1.title{
    color:white;
}
.title{
    text-transform: uppercase;
}
#website-title {
    font-size: 60px;
    color:rgb(165, 218, 18);
    -webkit-text-stroke: px rgb(6, 6, 6);
    background-color: #938619;
    text-align: left;
    padding-left: 30px;
    margin:0;
    overflow: hidden; 
}
.menu-button{
    font-size: 50px;
    color:rgb(249, 249, 249);
    float: right;
    padding-right: 30px;
}

.hide-bar{
    display:none;
}

img {
    width: 250px;
    height: 230px;
    margin-right: 30px;
}


table {
    border: 10px solid black;
    text-align: center;
    margin: 20px auto;
}
th, td{
    border: 3px solid black;
    font-family: Arial;
    font-weight: 800;
    text-align: center;
    padding:20px;
}
table #semester{
    background-color: rgb(165, 218, 18);
    font-size: 25px;
}


nav ul {
    background-color: rgb(165, 218, 18);
    display: table;
	width: 100%;
}
nav li {
    display: table-cell
}
li a {
	display:block;
	color: rgb(147, 6, 6);
    text-align: center;
    font-size: 25px;
	padding: 10px;
	text-decoration:none;
}


.content {
    display:flex;
    padding: 30px;
}
.content figure, .content .container{
    /*flex: 0 0 25%;*/
    flex: 1 1 auto;
}
.content p {
    /*flex: 0 0 33%;*/
    font-size:25px;
    flex: 1 1 auto;
    text-align: left;
}
.content strong {
    font-size:40px;
    color: rgb(19, 23, 121);
}


#about, #courses, #data-structures, #projects, #java-script-practice {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 3px solid gray;
}


#contact{
    background-color:#362196;
    color:white;
    text-align: left;
}

a{
    color: rgb(255, 0, 4);
    text-decoration:none;
}
a:hover{
    color: rgb(0, 113, 128);
}

ol {
    display: table; 
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
  }